@font-face {
    font-family: 'ProximaNova-Regular';
    src: url("proxima-nova-regular.eot");
    src: url("proxima-nova-regular.eot?#iefix") format("embedded-opentype"),
      url("proxima-nova-regular.woff") format("woff"),
      url("proxima-nova-regular.ttf") format("truetype"),
      url("proxima-nova-regular.svg#wf") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Light';
    src: url("proxima-nova-light.eot");
    src: url("proxima-nova-light.eot?#iefix") format("embedded-opentype"),
      url("proxima-nova-light.woff") format("woff"),
      url("proxima-nova-light.ttf") format("truetype"),
      url("proxima-nova-light.svg#wf") format("svg");
    font-weight: normal;
    font-style: normal;
}
