/**
 * League theme for reveal.js, modified into a Xebia style.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/proxima-nova/proxima-nova.css);

// Override theme settings (see ../template/settings.scss)
$mainFont: 'ProximaNova-Regular', sans-serif;
$headingFont: 'ProximaNova-Light', sans-serif;
//$headingTextShadow: 0px 0px 6px rgba(0,0,0,0.2);
//$heading1TextShadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 20px 20px rgba(0,0,0,.15);

// Background generator
$backgroundColor: #fff;

$mainColor: #752c5e;
$headingColor: #752c5e;
$linkColor: #189088;
$selectionBackgroundColor: lighten( $linkColor, 5% );

@mixin bodyBackground() {
	background: url("../../img/xebia-footer.png") no-repeat left bottom;
	padding-left: 20px;
	padding-bottom: 20px;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
